@import '~vue-single-date-picker/dist/vue-single-date-picker.css';
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}

body {
  background: #EDF3FF;
  font-family: 'Ubuntu', sans-serif;
}

input {
  font-size: 1rem;
  border: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.error {
  font-size: 0.85rem;
  line-height: 14px;
  color: #EC1B1B;
  margin: 4px 0 0 26px;
}

.server-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

.mobile {
  display: block;
}

.auth {
  margin: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}